<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">

      <!-- /.col-md-6 -->
      <div class="col-lg-12">

        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">ChatRooms</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-download"></i>
              </a>
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-bars"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <%= render partial: 'tab' %>

            <!-- row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <% if @user[:profile_image_url].present? %>
                    <img src="<%= @user[:profile_image_url] %>" class="img img-size-64">
                  <% else %>
                    <%= image_tag 'user_profile_default_icon/no_avatar.png', class: "img img-size-64" %>
                  <% end %>
                  <br>
                </div>
              </div>
            </div>
            <!-- /.row -->

            <!-- row -->
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">年齢</label>
                  <div class="col-xs-8"><%= @user[:age] %></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">性別</label>
                  <div class="col-xs-8"><%= Firestore::LoginUser.genders[@user[:sex]] if @user[:sex].present? %></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">居住地</label>
                  <div class="col-xs-4"><%= Firestore::LoginUser.prefectures[@user[:prefecture_id]] if @user[:prefecture_id].present? %></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">ステータス</label>
                  <div class="col-xs-4"><%= Firestore::LoginUser.statuses[@user[:status]] if @user[:status].present? %></div>
                </div>
              </div>
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group"></div>
              </div>
            </div>

            <% @rooms.each do |room| %>
            <!-- row -->
            <hr>
            <div class="row" data-href="<%= url_for("/room/#{room[:documentId]}") %>">
              <div class="col-md-2">
                <div class="col-xs-4">
                  <% if room[:user][:profile_image_url].present? %>
                    <img src="<%= room[:user][:profile_image_url] %>" class="img img-size-64">
                  <% else %>
                    <%= image_tag 'user_profile_default_icon/no_avatar.png', class: "img img-size-64" %>
                  <% end %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="col-xs-4">
                  <a href="<%= url_for("/index/#{room[:user][:documentId]}") %>" target="_blank">
                    <%= room[:user][:nickname] %>
                  </a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="col-xs-4"><%= room[:last_update_message] %></div>
              </div>
              <div class="col-md-1">
                <div class="col-xs-4"><%= room[:count] %></div>
              </div>
              <div class="col-md-2">
                <div class="col-xs-4"><%= room[:created_at].strftime("%Y-%m-%d %H:%M") %></div>
              </div>
            </div>
            <!-- /.row -->
            <% end %>


          </div>
        </div>
        <!-- /.card -->

        <div class="card-footer clearfix">
          <ul class="pagination justify-content-center">
          </ul>
        </div>

      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

<script>
$(function () {
  $('div[data-href]').addClass('clickable').click( function() {
    url = $(this).attr('data-href');
    window.open(url, '_blank');
  }).find('a').hover( function() {
      $(this).parents('div').unbind('click');
  }, function() {
      $(this).parents('div').click( function() {
          url = $(this).attr('data-href');
          window.open(url, '_blank');
      });
  });
});
</script>
