<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
<!--
      <div class="col-lg-12">
        <%= form_with(model: nil, :url => article_index_path, method: :get, local: true) do |form| %>

        <div class="card">
           <div class="card-body">
             <div class="row">
               <div class="col-sm-12">
                 <div class="form-group">
                   <label>text</label>
                   <%= search_field_tag 'text', params[:text], class: 'form-control'  %>
                 </div>
               </div>
             </div>
           </div>
           <div class="card-footer">
             <%= link_to('Reset',  {action: :index},  class: "btn btn-sm btn-secondary float-left" ) %>
             <button type="submit" class="btn btn-sm btn-info float-right">Search</button>
           </div>
        </div>
        <% end %>
      </div>
-->
      <!-- /.col-md-6 -->
      <div class="col-lg-12">

        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Article</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-download"></i>
              </a>
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-bars"></i>
              </a>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-valign-middle table-hover">
              <thead>
              <tr>
                <th>name</th>
                <th>profile text</th>
                <th>status</th>
                <th>created at</th>
              </tr>
              </thead>
              <tbody>

              <% @articles.each do |article| %>
              <tr  class="clickable-row" data-href="<%= url_for("/article/#{article.document_id}") %>">
                <td>
                  <% if article.data[:user_profile_image_url].present? %>
                    <img src="<%= article.data[:user_profile_image_url] %>" class="img img-size-64">&nbsp;&nbsp;
                  <% else %>
                    <%= image_tag 'user_profile_default_icon/no_avatar.png', class: "img img-size-64" %>
                  <% end %>
                  <%= article.data[:user_nickname] %>
                </td>
                <td>
                  <%= article.data[:text] %>
                </td>
                <td>
                  <%= Firestore::Article.statuses[article.data[:status]] if article.data[:status].present? %>
                </td>
                <td>
                    <%= article.data[:created_at].strftime("%Y-%m-%d %H:%M") %>
                </td>
              </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->

        <div class="card-footer clearfix">

          <ul class="pagination justify-content-center">

            <% @pagination.each do |key, value| %>
              <li class="page-item<%= ' active' if value == @current %>">
                <%= link_to key, article_index_path(page: value), class: 'page-link' %>
              </li>
            <% end %>

          </ul>

        </div>

      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
